<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-daniela-estevez/blob/main/Actividad_de_semana_1_2_Python_for_Data_Science_(IBM).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Module 1 - Python Basics

In [111]:
#print Hello Python 101
print("Hello Python 101")

Hello Python 101

In [112]:
print("Hello\nWorld!")

Hello
World!

In [113]:
# print("Hello World!")

In [114]:
type(11)

int

In [115]:
type(21.213)

float

In [116]:
type("Hello World 101")

str

In [117]:
float(2)

2.0

In [118]:
int(1.1)

1

In [119]:
int("1")

1

In [120]:
int("A")

ValueError: ignored

In [121]:
type(True)

bool

In [122]:
int(True)

1

In [123]:
type(int(1.0))

int

In [124]:
bool(1)

True

In [125]:
#+ symbol for sum
43+60+16+41

160

In [126]:
#- symbol for substraction
50-60

-10

In [127]:
#* symbol for multiplication
5*5

25

In [128]:
#/ symbol for division
25/5

5.0

In [129]:
#// symbol for integer division
25//6

4

In [130]:
# python follows math convension for solving
2*60+3

123

In [131]:
my_variable=1

In [132]:
my_variable:10

In [133]:
my_variable

1

In [134]:
x=43+60+16+41

In [135]:
y=x/60

In [136]:
x=x/60

In [137]:
x

2.6666666666666665

In [138]:
total_min=43+42+57

In [139]:
total_hr=total_min/60

In [140]:
total_min

142

In [141]:
total_hr

2.3666666666666667

In [142]:
total_min=total_min-50

In [143]:
total_min

92

In [144]:
total_hr

2.3666666666666667

Lab work

In [145]:
# Try your first Python output

print('Hello, Python!')

Hello, Python!

In [146]:
# Check the Python Version

import sys
print(sys.version)

3.7.14 (default, Sep  8 2022, 00:06:44)
[GCC 7.5.0]

In [147]:
# Practice on writing comments

print('Hello, Python!') # This line prints a string
# print('Hi')

Hello, Python!

In [148]:
# Print string as error message

frint("Hello, Python!")

NameError: ignored

In [149]:
# Try to see built-in error message

print("Hello, Python!)

SyntaxError: ignored

In [150]:
# Print string and error to see the running order

print("This will be printed")
frint("This will cause an error")
print("This will NOT be printed")

This will be printed

NameError: ignored

In the code cell below, use the print() function to print out the phrase: Hello, world!

In [ ]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
print("Hello, world!")

Now, let's enhance your code with a comment. In the code cell below, print out the phrase: Hello, world! and comment it with the phrase Print the traditional hello world all in one line of code.

In [151]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell

print("Hello, world!") #Print the traditional hello world

Hello, world!

In [152]:
# Integer

11

11

In [153]:
# Float

2.14

2.14

In [154]:
# String

"Hello, Python 101!"

'Hello, Python 101!'

In [155]:
# Type of 12

type(12)

int

In [156]:
# Type of 2.14

type(2.14)

float

In [157]:
# Type of "Hello, Python 101!"

type("Hello, Python 101!")

str

In the code cell below, use the type() function to check the object type of 12.0.

In [158]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
type(12.0)

float

In [159]:
# Print the type of -1

type(-1)

int

In [160]:
# Print the type of 4

type(4)

int

In [161]:
# Print the type of 0

type(0)

int

In [162]:
# Print the type of 1.0

type(1.0) # Notice that 1 is an int, and 1.0 is a float

float

In [163]:
# Print the type of 0.5

type(0.5)

float

In [164]:
# Print the type of 0.56

type(0.56)

float

In [165]:
# System settings about float type

sys.float_info

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

In [166]:
# Verify that this is an integer

type(2)

int

In [167]:
# Convert 2 to a float

float(2)

2.0

In [168]:
# Convert integer 2 to a float and check its type

type(float(2))

float

In [169]:
# Casting 1.1 to integer will result in loss of information

int(1.1)

1

In [170]:
# Convert a string into an integer

int('1')

1

In [171]:
# Convert a string into an integer with error

int('1 or 2 people')

ValueError: ignored

In [ ]:
# Convert the string "1.2" into a float

float('1.2')

In [ ]:
# Convert an integer to a string

str(1)

In [ ]:
# Convert a float to a string

str(1.2)

In [172]:
# Value true

True

True

In [173]:
# Value true

True

True

In [174]:
# Type of True

type(True)

bool

In [175]:
# Type of False

type(False)

bool

In [176]:
# Convert True to int

int(True)

1

In [177]:
# Convert 1 to boolean

bool(1)

True

In [178]:
# Convert 0 to boolean

bool(0)

False

In [179]:
# Convert True to float

float(True)

1.0

What is the data type of the result of: 6 / 2?

In [180]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
type(6/2)

float

What is the type of the result of: 6 // 2? (Note the double slash //.)

In [181]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
type(6//22)

int

In [182]:
# Addition operation expression

43 + 60 + 16 + 41

160

In [183]:
# Subtraction operation expression

50 - 60

-10

In [184]:
# Multiplication operation expression

5 * 5

25

In [185]:
# Division operation expression

25 / 5

5.0

In [186]:
# Division operation expression

25 / 6

4.166666666666667

In [187]:
# Integer division operation expression

25 // 5

5

In [188]:
# Integer division operation expression

25 // 6

4

Let's write an expression that calculates how many hours there are in 160 minutes:

In [189]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
hour=160/60

In [190]:
# Mathematical expression

30 + 2 * 60

150

In [191]:
# Mathematical expression

(30 + 2) * 60

1920

In [192]:
# Store value into variable

x = 43 + 60 + 16 + 41

In [193]:
# Print out the value in variable

x

160

In [194]:
# Use another variable to store the result of the operation between variable and value

y = x / 60
y

2.6666666666666665

In [195]:
# Overwrite variable with new value

x = x / 60
x

2.6666666666666665

In [196]:
# Name the variables meaningfully

total_min = 43 + 42 + 57 # Total length of albums in minutes
total_min

142

In [197]:
# Name the variables meaningfully

total_hours = total_min / 60 # Total length of albums in hours 
total_hours

2.3666666666666667

In [198]:
# Name the variables meaningfully

total_hours = total_min / 60 # Total length of albums in hours 
total_hours

2.3666666666666667

What is the value of x where x = 3 + 2 * 2

In [199]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
x=3+2*2
x

7

What is the value of y where y = (3 + 2) * 2?

In [200]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
y=(3+2)*2
y

10

What is the value of z where z = x + y?

In [201]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
z=x+y

**String Operations**

In [202]:
Name="Michael"

In [203]:
Name[3]

'h'

In [204]:
Name[::2]

'Mcal'

In [205]:
len(Name)

7

In [206]:
Name+" is the best"

'Michael is the best'

In [207]:
Name=Name+" is the best"

In [208]:
Name

'Michael is the best'

In [209]:
print(" Michael Jackson \n is the best")

 Michael Jackson
 is the best

In [210]:
print(" Michael Jackson \t is the best")

 Michael Jackson 	 is the best

In [211]:
print(" Michael Jackson \\ is the best")

 Michael Jackson \ is the best

In [212]:
print(r" Michael Jackson \ is the best")

 Michael Jackson \ is the best

In [213]:
A="Thriller is the sixth studio album"

In [214]:
B=A.upper()
B

'THRILLER IS THE SIXTH STUDIO ALBUM'

In [215]:
B=A.replace("sixth","seventh")
B

'Thriller is the seventh studio album'

In [216]:
Name="Michael Jackson"

In [217]:
#The output is the position where the input starts in the string
Name.find("el")

5

In [218]:
#The output is the position where the input starts in the string
Name.find("Jack")

8

In [219]:
#If the input is not in the string the output is -1
Name.find("&*D")

-1

In [220]:
Number="0123456"

In [221]:
Number[::2]

'0246'

In [222]:
"0123456".find("1")

1

**Lab on strings**

What is the value of the variable a after the following code is executed?

In [223]:
# Write your code below and press Shift+Enter to execute 

a = "1"
a

'1'

What is the value of the variable b after the following code is executed?

In [224]:
# Write your code below and press Shift+Enter to execute

b = "2"
b

'2'

What is the value of the variable c after the following code is executed?

In [225]:
# Write your code below and press Shift+Enter to execute 

c = a + b
c

'12'

Consider the variable d use slicing to print out the first three elements:

In [226]:
# Write your code below and press Shift+Enter to execute

d = "ABCDEFG"
print(d[0:3])

ABC

Use a stride value of 2 to print out every second character of the string e:

In [227]:
# Write your code below and press Shift+Enter to execute

e = 'clocrkr1e1c1t'
print(e[::2])

correct

Print out a backslash:

In [228]:
# Write your code below and press Shift+Enter to execute
print(r"\ ")

\


Convert the variable f to uppercase:

In [229]:
# Write your code below and press Shift+Enter to execute

f = "You are wrong"
f=f.upper()

Consider the variable g, and find the first index of the sub-string snow:

In [230]:
# Write your code below and press Shift+Enter to execute

g = "Mary had a little lamb Little lamb, little lamb Mary had a little lamb \
Its fleece was white as snow And everywhere that Mary went Mary went, Mary went \
Everywhere that Mary went The lamb was sure to go"
g.find("snow")

95

In the variable g, replace the sub-string Mary with Bob:

In [231]:
# Write your code below and press Shift+Enter to execute
g.replace("Mary","Bob")

'Bob had a little lamb Little lamb, little lamb Bob had a little lamb Its fleece was white as snow And everywhere that Bob went Bob went, Bob went Everywhere that Bob went The lamb was sure to go'

**Review Questions**

In [232]:
3+2*2

7

In [233]:
name="Lizz"
print(name[0:2])

Li

In [234]:
var="01234567"
print(var[::2])

0246

In [235]:
"1"+"2"

'12'

In [236]:
myvar="hello"
myvar.upper()

'HELLO'

# Module 2 - Python Data Structures

TUPLES

In [237]:
Ratings=(10,9,6,5,10,8,9,6,2)

In [238]:
tuple1=("disco",10,1.2)

In [239]:
type(tuple)

type

In [240]:
tuple1[-1]

1.2

In [241]:
tuple2=tuple1+("hard rock", 10)
tuple2

('disco', 10, 1.2, 'hard rock', 10)

In [242]:
tuple2[0:3]

('disco', 10, 1.2)

In [243]:
tuple2[3:5]

('hard rock', 10)

In [244]:
len(tuple2)

5

In [245]:
Ratings1=Ratings

Tuples are inmutable, to change a tuple you have to create a new tuple

In [246]:
RatingsSorted=sorted(Ratings)
RatingsSorted

[2, 5, 6, 6, 8, 9, 9, 10, 10]

In [247]:
NT=(1,2,("pop","rock"),(3,4),("disco",(1,2)))
#tuples in tuples is called nesting

In [248]:
NT[2][1]

'rock'

LISTS

In [249]:
#List are similar to tuples

In [250]:
L=["Michael Jackson", 10.1,1982]

In [251]:
L[0]

'Michael Jackson'

In [252]:
L[-1]

1982

In [253]:
L[2:3]

[1982]

Lists are mutable

In [254]:
#adds the elements on the list at the end
L.extend(["pop",10])
L

['Michael Jackson', 10.1, 1982, 'pop', 10]

In [255]:
#Only adds one element at the end so it adds the whole list as an element 
L.append(["pop",10])
L

['Michael Jackson', 10.1, 1982, 'pop', 10, ['pop', 10]]

In [256]:
A=["disco",10,1.2]

In [257]:
A

['disco', 10, 1.2]

In [258]:
A[0]="hard rock"

In [259]:
A

['hard rock', 10, 1.2]

In [260]:
del(A[0])
A

[10, 1.2]

In [261]:
"hard rock".split()

['hard', 'rock']

In [262]:
"A,B,C,D".split(",")

['A', 'B', 'C', 'D']

In [263]:
#aliasing, a list referencing another list
B=A

In [264]:
B[0]="hard rock"

In [265]:
A

['hard rock', 1.2]

In [266]:
B

['hard rock', 1.2]

In [267]:
A[0]="banana"

In [268]:
A

['banana', 1.2]

In [269]:
B

['banana', 1.2]

In [270]:
B=A[:]
#Creates a clone instead of just referencing

In [271]:
A=(0,1,2,3)
print(A[3])
print(A[-1])

3
3

In [272]:
B=["a","b","c"]
B[1:]

['b', 'c']

**Lab on tuples**

In [273]:
# sample tuple

genres_tuple = ("pop", "rock", "soul", "hard rock", "soft rock", \
                "R&B", "progressive rock", "disco") 
genres_tuple

('pop',
 'rock',
 'soul',
 'hard rock',
 'soft rock',
 'R&B',
 'progressive rock',
 'disco')

Find the length of the tuple, genres_tuple:

In [274]:
# Write your code below and press Shift+Enter to execute
len(genres_tuple)

8

Access the element, with respect to index 3:

In [275]:
# Write your code below and press Shift+Enter to execute
genres_tuple[3]

'hard rock'

Use slicing to obtain indexes 3, 4 and 5:

In [276]:
# Write your code below and press Shift+Enter to execute
genres_tuple[3:6]

('hard rock', 'soft rock', 'R&B')

Find the first two elements of the tuple genres_tuple:

In [277]:
# Write your code below and press Shift+Enter to execute
genres_tuple[0:2]

('pop', 'rock')

Find the first index of "disco":

In [278]:
genres_tuple[0:2]

('pop', 'rock')

Generate a sorted List from the Tuple C_tuple=(-5, 1, -3):

In [279]:
# Write your code below and press Shift+Enter to execute
C_tuple=(-5,1,-3)
C_tuple_Sorted=sorted(C_tuple)
C_tuple_Sorted

[-5, -3, 1]

**Lab on lists**

Create a list a_list, with the following elements 1, hello, [1,2,3] and True.

In [280]:
# Write your code below and press Shift+Enter to execute
a_list=[1,"hello",[1,2,3],True]
a_list

[1, 'hello', [1, 2, 3], True]

Find the value stored at index 1 of a_list.

In [281]:
# Write your code below and press Shift+Enter to execute
a_list[1]

'hello'

Retrieve the elements stored at index 1, 2 and 3 of a_list.

In [282]:
# Write your code below and press Shift+Enter to execute
a_list[1:4]

['hello', [1, 2, 3], True]

Concatenate the following lists A = [1, 'a'] and B = [2, 1, 'd']:

In [283]:
# Write your code below and press Shift+Enter to execute
A=[1,"a"]
B=[2,1,"d"]
A+B

[1, 'a', 2, 1, 'd']

SETS

In [284]:
# set are unordered

In [285]:
Set1={"pop","rock","soul","hard rock","rock","R&B","rock","disco"}

In [286]:
Set1
#there are no duplicates

{'R&B', 'disco', 'hard rock', 'pop', 'rock', 'soul'}

In [287]:
album_list=["Michael Jackson","Thriller","Thriller",1982]
album_set=set(album_list)
album_set

{1982, 'Michael Jackson', 'Thriller'}

In [288]:
A={"Thriller","Back in Black","AC/DC"}
A

{'AC/DC', 'Back in Black', 'Thriller'}

In [289]:
A.add("NSYNC")
A

{'AC/DC', 'Back in Black', 'NSYNC', 'Thriller'}

In [290]:
A.add("NSYNC")
A

{'AC/DC', 'Back in Black', 'NSYNC', 'Thriller'}

In [291]:
A.remove("NSYNC")
A

{'AC/DC', 'Back in Black', 'Thriller'}

In [292]:
"AC/DC" in A

True

In [293]:
"Who" in A

False

In [294]:
album_set_1={1,2,3,4,5}
album_set_2={3,4,5,6,7}

In [295]:
#to find the intersection
album_set_3=album_set_1&album_set_2
album_set_3

{3, 4, 5}

In [296]:
#to find the union
album_set_4=album_set_1.union(album_set_2)
album_set_4

{1, 2, 3, 4, 5, 6, 7}

In [297]:
album_set_3.issubset(album_set_1)

True

In [298]:
S={"A","B","C"}
U={"A","Z","C"}
U.union(S)

{'A', 'B', 'C', 'Z'}

In [299]:
S={"A","B","C"}
U={"A","Z","C"}
S&U

{'A', 'C'}

**Lab on Set**

Convert the list ['rap','house','electronic music', 'rap'] to a set:

In [300]:
# Write your code below and press Shift+Enter to execute
set(['rap','house','electronic music', 'rap'])

{'electronic music', 'house', 'rap'}


Consider the list A = [1, 2, 2, 1] and set B = set([1, 2, 2, 1]), does sum(A) == sum(B)?

In [301]:
# Write your code below and press Shift+Enter to execute
A = [1, 2, 2, 1]
B = set([1, 2, 2, 1])
print("the sum of A is:",sum(A))
print("the sum of B is:",sum(B))

the sum of A is: 6
the sum of B is: 3

Create a new set album_set3 that is the union of album_set1 and album_set2:

In [302]:
# Write your code below and press Shift+Enter to execute

album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])
album_set3=album_set1.union(album_set2)
album_set3

{'AC/DC', 'Back in Black', 'The Dark Side of the Moon', 'Thriller'}

Find out if album_set1 is a subset of album_set3:

In [303]:
# Write your code below and press Shift+Enter to execute
album_set1.issubset(album_set3)

True

DICTIONARIES

In [304]:
#type of colecction
#they are like adresses
#{key:value}

In [305]:
dict={"Thriller":1982,"Back in Black":1980,"The Dark Side of the Moon":1973,"The Bodyguard":1992,"Rumours":1977}

In [306]:
dict["The Dark Side of the Moon"]

1973

In [307]:
dict["Thriller"]

1982

In [308]:
dict["Graduation"]=2007
dict

{'Thriller': 1982,
 'Back in Black': 1980,
 'The Dark Side of the Moon': 1973,
 'The Bodyguard': 1992,
 'Rumours': 1977,
 'Graduation': 2007}

In [309]:
del(dict["Thriller"])
dict

{'Back in Black': 1980,
 'The Dark Side of the Moon': 1973,
 'The Bodyguard': 1992,
 'Rumours': 1977,
 'Graduation': 2007}

In [310]:
"The Bodyguard" in dict

True

In [311]:
"Starboy" in dict

False

In [312]:
dict.keys()

dict_keys(['Back in Black', 'The Dark Side of the Moon', 'The Bodyguard', 'Rumours', 'Graduation'])

In [313]:
dict.values()

dict_values([1980, 1973, 1992, 1977, 2007])

In [314]:
D={"a":0,"b":1,"c":2}
D.values()

dict_values([0, 1, 2])

In [315]:
D["b"]

1

**Lab on Dictionaries**

In [316]:
# Question sample dictionary

soundtrack_dic = {"The Bodyguard":"1992", "Saturday Night Fever":"1977"}
soundtrack_dic

{'The Bodyguard': '1992', 'Saturday Night Fever': '1977'}

a) In the dictionary soundtrack_dic what are the keys ?

In [317]:
# Write your code below and press Shift+Enter to execute
soundtrack_dic.keys()

dict_keys(['The Bodyguard', 'Saturday Night Fever'])

b) In the dictionary soundtrack_dic what are the values ?

In [318]:
# Write your code below and press Shift+Enter to execute
soundtrack_dic.values()

dict_values(['1992', '1977'])

The Albums Back in Black, The Bodyguard and Thriller have the following music recording sales in millions 50, 50 and 65 respectively:

a) Create a dictionary album_sales_dict where the keys are the album name and the sales in millions are the values.

In [319]:
# Write your code below and press Shift+Enter to execute
rec_sales={"Back in Black":50,"The Bodyguard":50,"Thriller":65}

b) Use the dictionary to find the total sales of Thriller:

In [320]:
# Write your code below and press Shift+Enter to execute
rec_sales["Thriller"]

65

c) Find the names of the albums from the dictionary using the method keys():

In [321]:
# Write your code below and press Shift+Enter to execute
rec_sales.keys()

dict_keys(['Back in Black', 'The Bodyguard', 'Thriller'])

d) Find the values of the recording sales from the dictionary using the method values:

In [322]:
# Write your code below and press Shift+Enter to execute
rec_sales.values()

dict_values([50, 50, 65])

**Review Questions**

In [323]:
A=("a","b","c")
A[0]

'a'

In [324]:
L=[1,2]
L.append(["a","b"])
L

[1, 2, ['a', 'b']]

In [325]:
Dict={"A":1,"B":"2","C":[3,3,3],"D":(4,4,4),"E":5,"F":6}
Dict["D"]

(4, 4, 4)

# Module 3 - Python Programming Fundamentals

CONDITIONS AND BRANCHING

In [326]:
a=6

In [327]:
a==7 #== equality test

False

In [328]:
i=5

In [329]:
i>5 #inequality

False

In [330]:
i<=5 #inequality

True

In [331]:
i != 6 #different than

True

In [332]:
"AC/DC" == "Michael Jackson"

False

In [333]:
age=17

if (age>18):
  print("you can enter")
print("move on")

move on

In [334]:
age=19

if (age>18):
  print("you can enter")
print("move on")

you can enter
move on

In [335]:
age=17

if (age>18):
  print("you can enter")
else:
  print("go see Meat Loaf")
print("move on")

go see Meat Loaf
move on

In [336]:
age=19

if (age>19):
  print("you can enter")
else:
  print("go see Meat Loaf")
print("move on")

go see Meat Loaf
move on

In [337]:
age=17

if (age>18):
  print("you can enter")
elif (age==18):
  print("go see Fink Floyd")
else:
  print("go see Meat Loaf")
print("move on")

go see Meat Loaf
move on

In [338]:
age=18

if (age>18):
  print("you can enter")
elif (age==18):
  print("go see Fink Floyd")
else:
  print("go see Meat Loaf")
print("move on")

go see Fink Floyd
move on

In [339]:
age=19

if (age>18):
  print("you can enter")
elif (age==18):
  print("go see Fink Floyd")
else:
  print("go see Meat Loaf")
print("move on")

you can enter
move on

General logic rules apply

In [340]:
not(True)

False

In [341]:
not(False)

True

In [342]:
True or False

True

In [343]:
False or False

False

In [344]:
album_year = 1990

if (album_year < 1980) or (album_year > 1989):
  print("The Album was made in the 70's or 90's")
else:
  print("The Album was made in the 1980's")

The Album was made in the 70's or 90's

In [345]:
True and False

False

In [346]:
album_year = 1983

if (album_year > 1979) and (album_year < 1990):
  print("The Album was made in the 80's")

The Album was made in the 80's

In [347]:
i=1
i!=0

True

In [348]:
i=0
i!=0

False

In [349]:
i=-1
i!=0

True

In [350]:
i=100000000
i!=0

True

In [351]:
x="a"
if(x!="a"):
  print("This is no a.")
else:
  print("This is a.")

This is a.

Lab work

Write an if statement to determine if an album had a rating greater than 8. Test it using the rating for the album “Back in Black” that had a rating of 8.5. If the statement is true print "This album is Amazing!"

In [352]:
# Write your code below and press Shift+Enter to execute
rating = 8.5
if rating > 8:
    print ("This album is Amazing!")

This album is Amazing!

Write an if-else statement that performs the following. If the rating is larger then eight print “this album is amazing”. If the rating is less than or equal to 8 print “this album is ok”.

In [353]:
# Write your code below and press Shift+Enter to execute
rating = 8.5
if rating > 8:
    print ("this album is amazing")
else:
    print ("this album is ok")

this album is amazing

Write an if statement to determine if an album came out before 1980 or in the years: 1991 or 1993. If the condition is true print out the year the album came out.

In [354]:
# Write your code below and press Shift+Enter to execute
album_year = 1979

if album_year < 1980 or album_year == 1991 or album_year == 1993:
    print("This album came out in year", album_year)

This album came out in year 1979

LOOPS

In [355]:
squares=["red","yellow","green","purple","blue"]

for i in range(0,5):
  squares[i]="white"

squares

['white', 'white', 'white', 'white', 'white']

In [356]:
squares=["red","yellow","green"]

for squares in squares:
  print(squares)

red
yellow
green

In [357]:
squares=["red","yellow","green"]

for i,squares in enumerate(squares):
  print(squares, i)

red 0
yellow 1
green 2

In [358]:
squares=["orange","orange","purple","blue"]
Newsquares=[]
i=0

while(squares[i]=="orange"):
  Newsquares.append(squares[i])
  i=i+1

Newsquares

['orange', 'orange']

In [359]:
A=[3,4,5]

for a in A:
  print(a)

3
4
5

In [360]:
x=3
y=1

while(y!=x):
  print(y)
  y=y+1

1
2

Lab work

Write a for loop the prints out all the element between -5 and 5 using the range function.

In [361]:
# Write your code below and press Shift+Enter to execute
for i in range(-5,6):
    print(i)

-5
-4
-3
-2
-1
0
1
2
3
4
5


Print the elements of the following list: Genres=[ 'rock', 'R&B', 'Soundtrack', 'R&B', 'soul', 'pop'] Make sure you follow Python conventions.

In [362]:
# Write your code below and press Shift+Enter to execute
Genres=[ 'rock', 'R&B', 'Soundtrack', 'R&B', 'soul', 'pop']
for gen in Genres:
    print(gen)

rock
R&B
Soundtrack
R&B
soul
pop

Write a for loop that prints out the following list: squares=['red', 'yellow', 'green', 'purple', 'blue']

In [363]:
# Write your code below and press Shift+Enter to execute
squares=['red', 'yellow', 'green', 'purple', 'blue']
for sq in squares:
    print(sq)

red
yellow
green
purple
blue


Write a while loop to display the values of the Rating of an album playlist stored in the list PlayListRatings. If the score is less than 6, exit the loop. The list PlayListRatings is given by: PlayListRatings = [10, 9.5, 10, 8, 7.5, 5, 10, 10]

In [364]:
# Write your code below and press Shift+Enter to execute
PlayListRatings = [10, 9.5, 10, 8, 7.5, 5, 10, 10]
i = 0
Rating = PlayListRatings[0]
while(i < len(PlayListRatings) and Rating >= 6):
    print(Rating)
    i = i + 1
    Rating = PlayListRatings[i]
    i = i + 1

10
9.5
8

Write a while loop to copy the strings 'orange' of the list squares to the list new_squares. Stop and exit the loop if the value on the list is not 'orange':

In [365]:
# Write your code below and press Shift+Enter to execute

squares = ['orange', 'orange', 'purple', 'blue ', 'orange']
new_squares = []
squares = ['orange', 'orange', 'purple', 'blue ', 'orange']
new_squares = []
i = 0
while(i < len(squares) and squares[i] == 'orange'):
    new_squares.append(squares[i])
    i = i + 1
print (new_squares)

['orange', 'orange']

FUNCTIONS

In [366]:
album_ratings=[10.0,8.5,9.5,7.0,7.0,9.5,9.0,9.5]
sorted_album_rating=sorted(album_ratings)
print("album ratings")
print(album_ratings)
print("")
print("sorted_album_ratings")
print(sorted_album_rating)

album ratings
[10.0, 8.5, 9.5, 7.0, 7.0, 9.5, 9.0, 9.5]

sorted_album_ratings
[7.0, 7.0, 8.5, 9.0, 9.5, 9.5, 9.5, 10.0]

In [367]:
album_ratings=[10.0,8.5,9.5,7.0,7.0,9.5,9.0,9.5]
album_ratings.sort()

In [368]:
def add1(a):
  b=a+1
  return b

In [369]:
add1(9)

10

In [370]:
def add1(a):
  '''
  add 1 to a
  '''
  b=a+1
  return b

In [371]:
help(add1)

Help on function add1 in module __main__:

add1(a)
    add 1 to a

In [372]:
def Mult(a,b):
  c=a*b
  return c

In [373]:
Mult(2,1.5)

3.0

In [374]:
Mult(2,"Michael")

'MichaelMichael'

In [375]:
def MJ():
  print("Michael Jackson")
  return

In [376]:
MJ()

Michael Jackson

In [377]:
def NoWork():
  pass

print(NoWork())

None

In [378]:
def add1(a):
  b=a+1
  print(a,"plus 1 equals",b)
  return b

In [379]:
add1(3)

3 plus 1 equals 4

4

In [380]:
def printStuff(Stuff):
  for i,s in enumerate(Stuff):
    print("Album",i,"Rating is",s)

album_ratings=[10.0,8.5,9.5]
printStuff(album_ratings)

Album 0 Rating is 10.0
Album 1 Rating is 8.5
Album 2 Rating is 9.5

In [381]:
def ArtistNames(*names):
  for name in names:
    print(name)

ArtistNames("Michael Jackson","AC/DC","Pink Floyd")

Michael Jackson
AC/DC
Pink Floyd

In [382]:
ArtistNames("Michael Jackson","AC/DC")

Michael Jackson
AC/DC

In [383]:
def AddDC(x):
  x=x+"DC"
  print(x)
  return(x)

x="AC"
z=AddDC(x)

ACDC

In [384]:
def Thriller():
  Date=1982
  return Date

Thriller()
Date #the variable date does not exist outside the function scope

2017

In [385]:
def Thriller():
  Date=1982
  return (Date)

Date=2017

print(Thriller())

print(Date)

1982
2017

In [386]:
def ACDC(y):
  print(Rating)
  return (Rating+y)

Rating=9

Z=ACDC(1)

print(Rating)

9
9

In [387]:
def PinkFloyd():
  global ClaimedSales
  ClaimedSales="45 million"
  return ClaimedSales

PinkFloyd()
print(ClaimedSales)

45 million

In [388]:
a=1
def add(b):
  return a+b
c=add(10)
c

11

Lab work 1

Complete the function  f  so that it returns the product of a and b. Use the next cell to test the function.

In [389]:
def f(a,b):
    
    return a*b

In [390]:
a=4
b=2

if a*b==f(a,b):   
    print("Correct.")   
else:    
    print("Incorrect.")

Correct.

Complete the function g such that the input c is a list of integers and the output is the sum of all the elements in the list.

In [391]:
def g(c):

    return  sum(c)

In [392]:
c=[1,2,3,4,5]

if sum(c)==g(c):   
    print("Correct.")   
else:    
    print("Incorrect.")

Correct.

Lab work 2

Come up with a function that divides the first input by the second input:

In [393]:
# Write your code below and press Shift+Enter to execute
# Write your code below and press Shift+Enter to execute
def f(x,y):
    return (x/y)


Use the function con for the following question

In [394]:
# Use the con function for the following question
def con(a, b):
    return(a + b)

Can the con function we defined before be used to add two integers or strings?

In [395]:
# Write your code below and press Shift+Enter to execute
print(con(2,2))
print(con("a","b"))

4
ab

Can the con function we defined before be used to concatenate lists or tuples?

In [396]:
# Write your code below and press Shift+Enter to execute
print(con(["a","b"],["c","d"]))
print(con(("a","b"),("c","d")))

['a', 'b', 'c', 'd']
('a', 'b', 'c', 'd')

OBJECTS AND CLASSES

In [397]:
#Method is a function that every instance of a class or type provides

In [398]:
class Circle(object):
  def __init__(self,radius,color):
    self.radius=radius;
    self.color=color;

In [399]:
C1=Circle(10,"red")

In [400]:
C1.radius=8

In [401]:
print(C1.radius)

8

In [402]:
class Circle(object):

  def __init__(self,radius,color):
    self.radius=radius;
    self.color=color;

  def add_radius(self,r):
    self.radius=self.radius+r
    return(self.radius)

In [403]:
C1=Circle(2,"red")

In [404]:
C1.add_radius(8)

10

In [405]:
C1.radius

10

In [406]:
class Rectangle (object):
  def __init__(self,color,height,width):
    self.height=height;
    self.width=width;
    self.color=color;

In [407]:
FatYellowRectangle=Rectangle(20,5,"yellow")

In [408]:
FatYellowRectangle.height

5

Lab work

In [409]:
class Car(object):
    def __init__(self,make,model,color):
        self.make=make;
        self.model=model;
        self.color=color;
        self.owner_number=0 
    def car_info(self):
        print("make: ",self.make)
        print("model:", self.model)
        print("color:",self.color)
        print("number of owners:",self.owner_number)
    def sell(self):
        self.owner_number=self.owner_number+1

Create a  Car  object "my_car" with the given data attributes:

In [410]:
make="BMW"
model="M3"
color="red"

my_car=Car(make,model,color)

Use the method car_info() to print out the data attributes.

In [411]:
my_car.car_info()

make:  BMW
model: M3
color: red
number of owners: 0

Call the method  sell()  in the loop, then call the method  car_info() again

In [412]:
for i in range(5):
    my_car.sell()

my_car.car_info()

make:  BMW
model: M3
color: red
number of owners: 5

Questions

Using the Class Car in the lab, create a Car object with the following attributes:

In [413]:
make="Honda"
model="Accord"
color="blue"

Car(make,model,color)

Lab work on classes

In [414]:
# Import the library

import matplotlib.pyplot as plt
%matplotlib inline

In [415]:
# Create a class Circle

class Circle(object):
    
    # Constructor
    def __init__(self, radius=3, color='blue'):
        self.radius = radius
        self.color = color 
    
    # Method
    def add_radius(self, r):
        self.radius = self.radius + r
        return(self.radius)
    
    # Method
    def drawCircle(self):
        plt.gca().add_patch(plt.Circle((0, 0), radius=self.radius, fc=self.color))
        plt.axis('scaled')
        plt.show()

In [416]:
# Create a new Rectangle class for creating a rectangle object

class Rectangle(object):
    
    # Constructor
    def __init__(self, width=2, height=3, color='r'):
        self.height = height 
        self.width = width
        self.color = color
    
    # Method
    def drawRectangle(self):
        plt.gca().add_patch(plt.Rectangle((0, 0), self.width, self.height ,fc=self.color))
        plt.axis('scaled')
        plt.show()

You have been recruited by your friend, a linguistics enthusiast, to create a utility tool that can perform analysis on a given piece of text. Complete the class 'analysedText' with the following methods -

Constructor (__init__) - This method should take the argument text, make it lower case, and remove all punctuation. Assume only the following punctuation is used: period (.), exclamation mark (!), comma (,) and question mark (?). Assign this newly formatted text to a new attribute called fmtText.

freqAll - This method should create and return dictionary of all unique words in the text, along with the number of times they occur in the text. Each key in the dictionary should be the unique word appearing in the text and the associated value should be the number of times it occurs in the text. Create this dictionary from the fmtText attribute.

freqOf - This method should take a word as an argument and return the number of occurrences of that word in fmtText.

The skeleton code has been given to you. Docstrings can be ignored for the purpose of the exercise.

In [417]:
class analysedText(object):
    
    def __init__ (self, text):
        # remove punctuation
        formattedText = text.replace('.','').replace('!','').replace('?','').replace(',','')
        
        # make text lowercase
        formattedText = formattedText.lower()
        
        self.fmtText = formattedText
        
    def freqAll(self):        
        # split text into words
        wordList = self.fmtText.split(' ')
        
        # Create dictionary
        freqMap = {}
        for word in set(wordList): # use set to remove duplicates in list
            freqMap[word] = wordList.count(word)
        
        return freqMap
    
    def freqOf(self,word):
        # get frequency map
        freqDict = self.freqAll()
        
        if word in freqDict:
            return freqDict[word]
        else:
            return 0

In [418]:
import sys

sampleMap = {'eirmod': 1,'sed': 1, 'amet': 2, 'diam': 5, 'consetetur': 1, 'labore': 1, 'tempor': 1, 'dolor': 1, 'magna': 2, 'et': 3, 'nonumy': 1, 'ipsum': 1, 'lorem': 2}

def testMsg(passed):
    if passed:
       return 'Test Passed'
    else :
       return 'Test Failed'

print("Constructor: ")
try:
    samplePassage = analysedText("Lorem ipsum dolor! diam amet, consetetur Lorem magna. sed diam nonumy eirmod tempor. diam et labore? et diam magna. et diam amet.")
    print(testMsg(samplePassage.fmtText == "lorem ipsum dolor diam amet consetetur lorem magna sed diam nonumy eirmod tempor diam et labore et diam magna et diam amet"))
except:
    print("Error detected. Recheck your function " )
print("freqAll: ")
try:
    wordMap = samplePassage.freqAll()
    print(testMsg(wordMap==sampleMap))
except:
    print("Error detected. Recheck your function " )
print("freqOf: ")
try:
    passed = True
    for word in sampleMap:
        if samplePassage.freqOf(word) != sampleMap[word]:
            passed = False
            break
    print(testMsg(passed))
    
except:
    print("Error detected. Recheck your function  " )

Constructor:
Test Passed
freqAll:
Test Passed
freqOf:
Test Passed

Lab work on Exception Handling

An exception is an error that occurs during the execution of code.

Some examples:

In [419]:
1/0

ZeroDivisionError: ignored

In [420]:
l = a + 5

In [421]:
a = [1, 2, 3]
a[10]

IndexError: ignored

Use try except to avoid

In [432]:
a = 1

try:
    b = int(input("Please enter a number to divide a"))
    a = a/b
    print("Success a=",a)
except:
    print("There was an error")

Please enter a number to divide a0
There was an error

In [433]:
a = 1

try:
    b = int(input("Please enter a number to divide a"))
    a = a/b
    print("Success a=",a)
except ZeroDivisionError:
    print("The number you provided cant divide 1 because it is 0")
except ValueError:
    print("You did not provide a number")
except:
    print("Something went wrong")

Please enter a number to divide a0
The number you provided cant divide 1 because it is 0

In [434]:
a = 1

try:
    b = int(input("Please enter a number to divide a"))
    a = a/b
except ZeroDivisionError:
    print("The number you provided cant divide 1 because it is 0")
except ValueError:
    print("You did not provide a number")
except:
    print("Something went wrong")
else:
    print("success a=",a)

Please enter a number to divide aA
You did not provide a number

In [435]:
a = 1

try:
    b = int(input("Please enter a number to divide a"))
    a = a/b
except ZeroDivisionError:
    print("The number you provided cant divide 1 because it is 0")
except ValueError:
    print("You did not provide a number")
except:
    print("Something went wrong")
else:
    print("success a=",a)
finally:
    print("Processing Complete")

Please enter a number to divide a3
success a= 0.3333333333333333
Processing Complete

**Review Question**

In [436]:
x=1
if(x!=1):
  print("Hello")
else:
  print("Hi")
print("Mike")

Hi
Mike

In [437]:
A=["1","2","3"]
for a in A:
  print(2*a)

11
22
33

In [438]:
def Delta(x):
  if x==0:
    y=1;
  else:
    y=0;
  return(y)

In [439]:
Delta(0)

1

In [440]:
B=[3,6,1,8,2,456]
B.sort()
print(B)

[1, 2, 3, 6, 8, 456]

In [441]:
dic={"a":1,"b":2}
dic.keys()

dict_keys(['a', 'b'])