<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-daniela-estevez/blob/main/Semana_2_Actividad_1_Python_for_Data_Science_(IBM).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Module 4 - Working with Data in Python

In [ ]:
# Download Example file

!wget /resources/data/Example1.txt https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/labs/example1.txt

/resources/data/Example1.txt: Scheme missing.
--2022-09-23 18:29:04--  https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/labs/example1.txt
Resolving s3-api.us-geo.objectstorage.softlayer.net (s3-api.us-geo.objectstorage.softlayer.net)... 67.228.254.196
Connecting to s3-api.us-geo.objectstorage.softlayer.net (s3-api.us-geo.objectstorage.softlayer.net)|67.228.254.196|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 45 [text/plain]
Saving to: ‘example1.txt.1’

example1.txt.1      100%[===================>]      45  --.-KB/s    in 0s

2022-09-23 18:29:05 (10.2 MB/s) - ‘example1.txt.1’ saved [45/45]

FINISHED --2022-09-23 18:29:05--
Total wall clock time: 1.0s
Downloaded: 1 files, 45 in 0s (10.2 MB/s)

### Reading files with open

In [ ]:
# Read the Example1.txt

example1 = "/content/example1.txt"
File1 = open(example1, "r") # open("FILE_DIRECTORY/FILE_NAME","MODE") MODE-> w:writting , r: reading, a: appendin

if you use open you need to use close

In [ ]:
File1.close()

It's better to use with open

In [ ]:
with open(example1,"r") as File1:
  file_stuff=File1.read()
  print(file_stuff)

print(File1.closed)
print(file_stuff)

This is line 1
This is line 2
This is line 3
True
This is line 1
This is line 2
This is line 3

In [ ]:
# readlines() is used to read the file

**Lab Work**

We can use a loop to iterate through each line:

In [ ]:
# Iterate through the lines
with open(example1,"r") as file1:
        i = 0;
        for line in file1:
            print("Iteration", str(i), ": ", line)
            i = i + 1

Iteration 0 :  This is line 1

Iteration 1 :  This is line 2

Iteration 2 :  This is line 3

In [ ]:
# Read all lines and save as a list
with open(example1, "r") as file1:
    FileasList = file1.readlines()

In [ ]:
# Print the first line
FileasList[0]

'This is line 1 \n'

In [ ]:
# Print the third line
FileasList[2]

'This is line 3'

### Writing files with open

In [ ]:
example2 = "/content/Example2.txt"
File1 = open(example2,"w") #w is used to crate a new doc

In [ ]:
#better to use with open as mention before

In [ ]:
File1.write("This is line A\n") #\n is used to create a new line

15

In [ ]:
File1.write("This is line B\n") #Creates second line in file

15

A better option is to create a loop that goes through each element in a list

In [ ]:
Lines=["This is line A\n","This is line B\n","This is line C\n"]
with open(example2,"w") as File1:
  for line in Lines:
    File1.write(line)

"a" or append open the existing file to create more lines

In [ ]:
with open(example2,"a") as File1:
  File1.write("This is line D\n")

We can create a new file from an existing file. It function by copying line by line

In [ ]:
with open(example1,"r") as readfile:
  with open("/content/Example3.txt","w") as writefile:
    for line in readfile:
      writefile.write(line)

we can read it to see if everything worked

In [ ]:
# Verify if the copy is successfully executed

with open("/content/Example3.txt",'r') as testwritefile:
    print(testwritefile.read())

This is line 1
This is line 2
This is line 3

**Lab Work**

  - Adtional modes, more efficients than the originals

r+ : Reading and writing. Cannot truncate the file.

w+ : Writing and reading. Truncates the file.

a+ : Appending and Reading. Creates a new file, if none exists.

Let's try out the a+ mode:

In [ ]:
with open('Example2.txt', 'a+') as testwritefile:
    testwritefile.write("This is line E\n")
    print(testwritefile.read())

There were no errors but read() also did not output anything. This is because of our location in the file.

Most of the file methods we've looked at work in a certain location in the file. .write()  writes at a certain location in the file. .read() reads at a certain location in the file and so on. You can think of this as moving your pointer around in the notepad to make changes at specific location.

Opening the file in w is akin to opening the .txt file, moving your cursor to the beginning of the text file, writing new text and deleting everything that follows. Whereas opening the file in a is similiar to opening the .txt file, moving your cursor to the very end and then adding the new pieces of text.
It is often very useful to know where the 'cursor' is in a file and be able to control it. The following methods allow us to do precisely this -

.tell() - returns the current position in bytes
.seek(offset,from) - changes the position by 'offset' bytes with respect to 'from'. From can take the value of 0,1,2 corresponding to beginning, relative to current position and end

Now lets revisit a+

In [ ]:
with open('Example2.txt', 'a+') as testwritefile:
    print("Initial Location: {}".format(testwritefile.tell()))
    
    data = testwritefile.read()
    if (not data):  #empty strings return false in python
            print('Read nothing') 
    else: 
            print(testwritefile.read())
            
    testwritefile.seek(0,0) # move 0 bytes from beginning.
    
    print("\nNew Location : {}".format(testwritefile.tell()))
    data = testwritefile.read()
    if (not data): 
            print('Read nothing') 
    else: 
            print(data)
    
    print("Location after read: {}".format(testwritefile.tell()) )

Initial Location: 75
Read nothing

New Location : 0
This is line A
This is line B
This is line C
This is line D
This is line E

Location after read: 75

Finally, a note on the difference between w+ and r+. Both of these modes allow access to read and write methods, however, opening a file in w+ overwrites it and deletes all pre-existing data.

To work with a file on existing data, use r+ and a+. While using r+, it can be useful to add a .truncate() method at the end of your data. This will reduce the file to your data and delete everything that follows.

In the following code block, Run the code as it is first and then run it with the .truncate().

In [ ]:
with open('Example2.txt', 'r+') as testwritefile:
    data = testwritefile.readlines()
    testwritefile.seek(0,0) #write at beginning of file
   
    testwritefile.write("Line 1" + "\n")
    testwritefile.write("Line 2" + "\n")
    testwritefile.write("Line 3" + "\n")
    testwritefile.write("finished\n")
    #Uncomment the line below
    #testwritefile.truncate()
    testwritefile.seek(0,0)
    print(testwritefile.read())

Line 1
Line 2
Line 3
finished
This is line C
This is line D
This is line E

 - Exercise 

Your local university's Raptors fan club maintains a register of its active members on a .txt document. Every month they update the file by removing the members who are not active. You have been tasked with automating this with your Python skills.

Given the file currentMem, Remove each member with a 'no' in their Active column. Keep track of each of the removed members and append them to the exMem file. Make sure that the format of the original files in preserved. (Hint: Do this by reading/writing whole lines and ensuring the header remains )

Run the code block below prior to starting the exercise. The skeleton code has been provided for you. Edit only the cleanFiles function.

In [ ]:
#Run this prior to starting the exercise
from random import randint as rnd

memReg = 'members.txt'
exReg = 'inactive.txt'
fee =('yes','no')

def genFiles(current,old):
    with open(current,'w+') as writefile: 
        writefile.write('Membership No  Date Joined  Active  \n')
        data = "{:^13}  {:<11}  {:<6}\n"

        for rowno in range(20):
            date = str(rnd(2015,2020))+ '-' + str(rnd(1,12))+'-'+str(rnd(1,25))
            writefile.write(data.format(rnd(10000,99999),date,fee[rnd(0,1)]))


    with open(old,'w+') as writefile: 
        writefile.write('Membership No  Date Joined  Active  \n')
        data = "{:^13}  {:<11}  {:<6}\n"
        for rowno in range(3):
            date = str(rnd(2015,2020))+ '-' + str(rnd(1,12))+'-'+str(rnd(1,25))
            writefile.write(data.format(rnd(10000,99999),date,fee[1]))


genFiles(memReg,exReg)

Exercise: Implement the cleanFiles function in the code cell below.

In [ ]:
def cleanFiles(currentMem,exMem):
    with open(currentMem,'r+') as writeFile: 
        with open(exMem,'a+') as appendFile:
            #get the data
            writeFile.seek(0)
            members = writeFile.readlines()
            #remove header
            header = members[0]
            members.pop(0)
                
            inactive = [member for member in members if ('no' in member)]
            '''
            The above is the same as 

            for member in members:
            if 'no' in member:
                inactive.append(member)
            '''
            #go to the beginning of the write file
            writeFile.seek(0) 
            writeFile.write(header)
            for member in members:
                if (member in inactive):
                    appendFile.write(member)
                else:
                    writeFile.write(member)      
            writeFile.truncate()
                
memReg = 'members.txt'
exReg = 'inactive.txt'
cleanFiles(memReg,exReg)

# code to help you see the files

headers = "Membership No  Date Joined  Active  \n"

with open(memReg,'r') as readFile:
    print("Active Members: \n\n")
    print(readFile.read())
    
with open(exReg,'r') as readFile:
    print("Inactive Members: \n\n")
    print(readFile.read())

Active Members:


Membership No  Date Joined  Active
    22330      2019-1-22    yes
    54396      2017-9-19    yes
    47458      2020-10-5    yes
    64562      2015-2-8     yes
    51268      2017-3-13    yes
    49493      2018-4-13    yes
    28562      2018-10-10   yes
    34146      2015-9-16    yes
    39011      2019-5-15    yes

Inactive Members:


Membership No  Date Joined  Active
    15016      2017-8-5     no
    84155      2017-6-5     no
    40504      2017-8-5     no
    87022      2020-5-13    no
    12265      2016-11-12   no
    89853      2015-6-20    no
    54899      2017-10-11   no
    15226      2017-12-13   no
    85434      2016-1-15    no
    67627      2017-3-14    no
    84634      2017-7-25    no
    43665      2017-5-25    no
    58514      2020-6-12    no
    85036      2018-6-2     no

The code cell below is to verify your solution. Please do not modify the code and run it to test your implementation of cleanFiles.

In [ ]:
def testMsg(passed):
    if passed:
       return 'Test Passed'
    else :
       return 'Test Failed'

testWrite = "testWrite.txt"
testAppend = "testAppend.txt" 
passed = True

genFiles(testWrite,testAppend)

with open(testWrite,'r') as file:
    ogWrite = file.readlines()

with open(testAppend,'r') as file:
    ogAppend = file.readlines()

try:
    cleanFiles(testWrite,testAppend)
except:
    print('Error')

with open(testWrite,'r') as file:
    clWrite = file.readlines()

with open(testAppend,'r') as file:
    clAppend = file.readlines()
        
# checking if total no of rows is same, including headers

if (len(ogWrite) + len(ogAppend) != len(clWrite) + len(clAppend)):
    print("The number of rows do not add up. Make sure your final files have the same header and format.")
    passed = False
    
for line in clWrite:
    if  'no' in line:
        passed = False
        print("Inactive members in file")
        break
    else:
        if line not in ogWrite:
            print("Data in file does not match original file")
            passed = False
print ("{}".format(testMsg(passed)))

Test Passed

### Loading data with Pandas

In [ ]:
import pandas as pd

#TO READ A CSV
# csv_path="file1.csv"
# df=pd.read_csv(csv_path)

#TO READ AN EXCEL FILE
# xlsx_path="file1.xlsx"
# df=pd.read_excel(xlsx_path)

We can create a dataframe from a dictionary

In [ ]:
songs={"Album":["Thriller","Back in Black","The Dark Side of the Moon","The Bodyguard","Bat Out of Hell"],
       "Released":[1982,1980,1973,1992,1977],
       "Length":["00:42:19","00:42:11","00:42:49","00:57:44","00:46:33"]}

songs_frame=pd.DataFrame(songs)
songs_frame.head() #to read the first 5 rows

                       Album  Released    Length
0                   Thriller      1982  00:42:19
1              Back in Black      1980  00:42:11
2  The Dark Side of the Moon      1973  00:42:49
3              The Bodyguard      1992  00:57:44
4            Bat Out of Hell      1977  00:46:33

DataFrame from github

In [ ]:
#data from github
url = 'https://raw.githubusercontent.com/PosgradoMNA/actividades-de-aprendizaje-daniela-estevez/main/TopSellingAlbums.csv'
df = pd.read_csv(url)
df.head()

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,0:42:19,"pop, rock, R&B",46.0,65,30-Nov-82,NaN,10.0
1,AC/DC,Back in Black,1980,0:42:11,hard rock,26.1,50,25-Jul-80,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,0:42:49,progressive rock,24.2,45,01-Mar-73,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,0:57:44,"R&B, soul, pop",27.4,44,17-Nov-92,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,0:46:33,"hard rock, progressive rock",20.6,43,21-Oct-77,NaN,8.0

In [ ]:
#new dateframe from another
x=df[["Length"]]
x.head()

    Length
0  0:42:19
1  0:42:11
2  0:42:49
3  0:57:44
4  0:46:33

In [ ]:
#new dateframe from another
x=df[["Artist","Length","Genre"]]
x.head()

            Artist   Length                        Genre
0  Michael Jackson  0:42:19               pop, rock, R&B
1            AC/DC  0:42:11                    hard rock
2       Pink Floyd  0:42:49             progressive rock
3  Whitney Houston  0:57:44               R&B, soul, pop
4        Meat Loaf  0:46:33  hard rock, progressive rock

In [ ]:
#.iloc for number index
df.iloc[0,0]

'Michael Jackson'

In [ ]:
df.iloc[1,0]

'AC/DC'

In [ ]:
df.iloc[0,2]

1982

In [ ]:
#.loc for colunm name
df.loc[0,"Artist"]

'Michael Jackson'

In [ ]:
df.loc[1,"Artist"]

'AC/DC'

In [ ]:
df.loc[0,"Released"]

1982

In [ ]:
df.loc[1,"Released"]

1980

Spliting data frames

In [ ]:
z=df.iloc[0:3,0:3]
z.head()

            Artist                      Album  Released
0  Michael Jackson                   Thriller      1982
1            AC/DC              Back in Black      1980
2       Pink Floyd  The Dark Side of the Moon      1973

In [ ]:
z=df.loc[0:2,"Artist":"Released"]
z.head()

            Artist                      Album  Released
0  Michael Jackson                   Thriller      1982
1            AC/DC              Back in Black      1980
2       Pink Floyd  The Dark Side of the Moon      1973

Questions

1. Consider the dataframe df. How would you find the element in the second row and first column?

In [ ]:
df.iloc[1,0]

'AC/DC'

Will the following code run?

In [ ]:
import pandas as banana

df1=banana.DataFrame({'a':[11,21,31],'b':[21,22,23]})

df1.head()

    a   b
0  11  21
1  21  22
2  31  23

**Lab Work**

In [ ]:
import pandas as pd

df2=pd.DataFrame({'a':[11,21,31],'b':[21,22,23]})

Display the first three rows:

In [ ]:
df2.head()

    a   b
0  11  21
1  21  22
2  31  23

Obtain column  'a' :

In [ ]:
df2['a']

0    11
1    21
2    31
Name: a, dtype: int64

### Working with and Saving data with Pandas

In [ ]:
df["Released"].unique()

array([1982, 1980, 1973, 1992, 1977, 1976])

In [ ]:
df_n=df[df["Released"]>=1980]

In [ ]:
df_n.to_csv("new_songs.csv")

Questions

Consider the dataframe: df=pd.DataFrame({'a':[1,2,1],'b':[1,1,1]})

What type does the following return: df['a']==1 ?

In [ ]:
dfs=pd.DataFrame({'a':[1,2,1],'b':[1,1,1]})
dfs['a']==1

0     True
1    False
2     True
Name: a, dtype: bool

**Lab Work**

Use a variable q to store the column Rating as a dataframe

In [ ]:
# Write your code below and press Shift+Enter to execute
q=df["Rating"]
q

0    10.0
1     9.5
2     9.0
3     8.5
4     8.0
5     7.5
6     7.0
7     6.5
Name: Rating, dtype: float64

Assign the variable q to the dataframe that is made up of the column Released and Artist:

In [ ]:
# Write your code below and press Shift+Enter to execute
q=df[["Rating","Artist"]]
q

   Rating           Artist
0    10.0  Michael Jackson
1     9.5            AC/DC
2     9.0       Pink Floyd
3     8.5  Whitney Houston
4     8.0        Meat Loaf
5     7.5           Eagles
6     7.0         Bee Gees
7     6.5    Fleetwood Mac

Access the 2nd row and the 3rd column of df:

In [ ]:
# Write your code below and press Shift+Enter to execute
df.iloc[1,3]

'0:42:11'

Use the following list to convert the dataframe index df to characters and assign it to df_new; find the element corresponding to the row index a and column 'Artist'. Then select the rows a through d for the column 'Artist'

In [ ]:
new_index=['a','b','c','d','e','f','g','h']
df_new=df
df_new.index=new_index
df_new.loc['a', 'Artist']
df_new.loc['a':'d', 'Artist']

a    Michael Jackson
b              AC/DC
c         Pink Floyd
d    Whitney Houston
Name: Artist, dtype: object

# Object Oriented Programming in Python

In [ ]:
class Dog:
  def bark(self):
    print("bark")

d=Dog()
print(type(d))

<class '__main__.Dog'>

In [ ]:
d.bark()

bark

In [ ]:
class Dog:

  def __init__(self,name):
    self.name=name

  def add_one(self,x):
    return x + 1

  def bark(self):
    print("bark")

In [ ]:
d1=Dog("Time")
d2=Dog("Bill")

print(d1.name)
print(d2.name)

Time
Bill

In [ ]:
class Dog:

  def __init__(self,name,age):
    self.name=name
    self.age=age

  def get_name(self):
    return self.name

  def get_age(self):
    return self.age

  def set_age(self,age):
    self.age=age

  def bark(self):
    print("bark")

In [ ]:
d1=Dog("Time",34)
d2=Dog("Bill",12)

print(d1.get_name())
print(d2.get_age())

Time
12

In [ ]:
class Student:
  def __init__(self,name,age,grade):
    self.name=name
    self.age=age
    self.grade=grade

  def get_grade(self):
    return self.grade

class Course:
  def __init__(self,name,max_students):
    self.name=name
    self.max_students=max_students
    self.students=[]
    
  def add_student(self,student):
    if len(self.students) < self.max_students:
      self.students.append(student)
      return True
    return False

  def get_average_grade(self):
    pass

In [ ]:
s1=Student("Tim",19,95)
s2=Student("Tim",19,95)
s3=Student("Tim",19,95)

In [ ]:
course = Course("Science",2)
course.add_student(s1)
course.add_student(s2)
print(course.students[0].name)

Tim

In [ ]:
class Student:
  def __init__(self,name,age,grade):
    self.name=name
    self.age=age
    self.grade=grade

  def get_grade(self):
    return self.grade

class Course:
  def __init__(self,name,max_students):
    self.name=name
    self.max_students=max_students
    self.students=[]
    
  def add_student(self,student):
    if len(self.students) < self.max_students:
      self.students.append(student)
      return True
    return False

  def get_average_grade(self):
    value=0
    for student in self.students:
      value += student.get_grade()
    return value/len(self.students)

In [ ]:
course = Course("Science",2)
course.add_student(s1)
course.add_student(s2)
course.add_student(s3)

False

### Inheritance

In [ ]:
class Pet:
  def __init__(self,name,age):
    self.name=name
    self.age=age
  
  def show(self):
    print(f"I am {self.name} and I am {self.age} years old")


class Cat(Pet):
  def speak(self):
    print("Meow")

class Dog(Pet):
  def speak(self):
    print("Bark")

In [ ]:
p=Pet("Tim",19)
p.show()

I am Tim and I am 19 years old

In [ ]:
c=Cat("Bill",24)
c.show()

I am Bill and I am 24 years old

In [ ]:
d=Dog("Jill",25)
d.speak()

Bark

In [ ]:
class Pet:
  def __init__(self,name,age):
    self.name=name
    self.age=age
  
  def show(self):
    print(f"I am {self.name} and I am {self.age} years old")
  
  def speak(self):
    print("I don't know what to say")
    
class Cat(Pet):
  def speak(self):
    print("Meow")

class Dog(Pet):
  def speak(self):
    print("Bark")

In [ ]:
p=Pet("Tim",19)
p.speak()

I don't know what to say

In [ ]:
c=Cat("Bill",24)
c.speak()
#if there is a method with the same name in the parent and child class it will use the one in the child class because it is more specific

Meow

In [ ]:
class Pet:
  def __init__(self,name,age):
    self.name=name
    self.age=age
  
  def show(self):
    print(f"I am {self.name} and I am {self.age} years old")
  
  def speak(self):
    print("I don't know what to say")
    
class Cat(Pet):
  def __init__(self,name,age,color):
    super().__init__(name,age) #calls the initialization from parent class
    self.color=color
  def speak(self):
    print("Meow")
  def show(self):
    print(f"I am {self.name} and I am {self.age} years old and I am {self.color}")

class Dog(Pet):
  def speak(self):
    print("Bark")

In [ ]:
c=Cat("Bill",24,"Brown")
c.show()

I am Bill and I am 24 years old and I am Brown

### Constant values

In [ ]:
class Person:
  number_of_people=0 #it is the same for all instance of the class
  
  def __init__(self,name):
    self.name=name

p1=Person("Time")
p2=Person("Jill")

In [ ]:
print(p2.number_of_people)
print(p1.number_of_people)

0
0

In [ ]:
Person.number_of_people=8 #if you change it, it changes for all instances
print(p2.number_of_people)
print(p1.number_of_people)

8
8

In [ ]:
class Person:
  number_of_people=0
  
  def __init__(self,name):
    self.name=name
    Person.number_of_people += 1

In [ ]:
p1=Person("Time")
print(p1.number_of_people)

1

In [ ]:
p2=Person("Jill")
print(p2.number_of_people)

2

### Class methods

In [ ]:
class Person:
  number_of_people=0
  
  def __init__(self,name):
    self.name=name
    Person.add_person()
  
  @classmethod #it's called a decorator
  def number_of_people_(cls):
    return cls.number_of_people #it is not specific of an instance, it can deal with something that relate the class as a whole
  
  @classmethod
  def add_person(cls):
    cls.number_of_people += 1

In [ ]:
p1=Person("Time")
p2=Person("Jill")
print(Person.number_of_people_())

2

### Static methods

In [ ]:
class Math:
  
  @staticmethod
  def add5(x):
    return x+5

  @staticmethod
  def add10(x):
    return x+10

  @staticmethod
  def pr(x):
    print("run")

print(Math.add5(5))
print("run")

10
run